<%- include('partials/header.ejs', {title: "Home"}) %>

<h1>The page you are looking for doesn't exist. <a href="/home">Click Here</a> to go back home.</h1>


<%- include('partials/header.ejs') %>